<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<script type="text/javascript">
			var context = <%- context %>;
		</script>
		<script src="/js/vendor.bundle.js"></script>
		<script src="<%- bundle %>"></script>
	</head>

	<body>
		<main>
			<%- main %>
		</main>
	</body>
</html>

